<form method="post" enctype="multipart/form-data">
    <label>Selecciona una imagen : </label>
    <input type="file" name="img" class="form-control" />
    <br />
    <button class="btn btn-success" type="submit">Guardar</button>
</form>