@{
    ViewData["Title"] = "Home Page";
}
@model List<string>

<a class="btn btn-success" style="background-color: #FD801D; border-color: #FD801D; color: white;"
   asp-action="Create" asp-controller="Visual" asp-route-path="@ViewData["CurrentPath"]">
    Insertar Imagen
</a>

@if (Model != null)
{
    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>IMÁGENES Y CARPETAS</th>
                    <th>NOMBRE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (string item in Model)
                {
                    <tr>
                        <td>
                            @if (item.EndsWith("/"))
                            {
                                <!-- Es una carpeta -->
                                <a href="@Url.Action("Index", "Home", new { path = item })">
                                    📂 @item
                                </a>
                            }
                            else
                            {
                                <!-- Es una imagen -->
                                <img src="https://cdn.visualnacert.com/@item" alt="@item" width="250" />
                            }
                        </td>
                        <td>https://cdn.visualnacert.com/@item</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
